<ul class="pagination">
	<li ng-class="{disabled: vm.page.number === 0}">
		<a ng-show="vm.page.number !== 0" ng-click="vm.gotoFirstPage()">&laquo;</a>
		<span ng-show="vm.page.number === 0">&laquo;</span>
	</li>
	<li ng-class="{disabled: vm.page.number === 0}">
		<a ng-show="vm.page.number !== 0" ng-click="vm.gotoPreviousPage()">Prev</a>
		<span ng-show="vm.page.number === 0">Prev</span>
	</li>
	<li ng-repeat="n in [] | pages: vm.page.number:vm.page.totalPages:5" ng-class="{active: n === vm.page.number}">
		<a ng-show="vm.page.number !== n" ng-click="vm.gotoPage(n)">{{n + 1}}</a>
		<span ng-show="vm.page.number === n">{{n + 1}}</span>
	</li>
	<li ng-class="{disabled: vm.page.number === vm.page.totalPages - 1}">
		<a ng-show="vm.page.number !== vm.page.totalPages - 1" ng-click="vm.gotoNextPage()">Next</a>
		<span ng-show="vm.page.number === vm.page.totalPages - 1">Next</span>
	</li>
	<li ng-class="{disabled: vm.page.number === vm.page.totalPages - 1}">
		<a ng-show="vm.page.number !== vm.page.totalPages - 1" ng-click="vm.gotoLastPage()">&raquo;</a>
		<span ng-show="vm.page.number === vm.page.totalPages - 1">&raquo;</span>
	</li>
</ul>