<h4>Employee</h4>

<form ng-submit="vm.save()" class="form-horizontal">
	<div class="form-group">
		<label for="code" class="col-sm-2 control-label">Code</label>
		<div class="col-sm-10">
			<input ng-model="vm.selected.code" placeholder="e.g. E01" class="form-control" id="code" type="text" required>
		</div>
	</div>

	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input ng-model="vm.selected.name" placeholder="e.g. Mikhail Jackson" class="form-control" id="name" type="text" required>			
		</div>
	</div>

	<div class="form-group">
		<label for="gender" class="col-sm-2 control-label">Gender</label>
		<div class="col-sm-10 btn-group">
			<label class="btn" ng-model="vm.selected.gender" btn-radio="'Male'" uncheckable>Male</label>
			<label class="btn" ng-model="vm.selected.gender" btn-radio="'Female'" uncheckable>Female</label>
		</div>
	</div>

	<div class="form-group">
		<label for="birthDate" class="col-sm-2 control-label">Birth</label>
		<div class="col-sm-10">
			<p class="input-group">
				<input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="vm.selected.birthDate" is-open="vm.selected.birthDatePopped" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="vm.selected.popDate($event, 'birthDatePopped')"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="btn-group">
				<button type="submit" class="btn btn-success">Save</button>
				<button type="button" ng-click="vm.revertEntityModel()" class="btn btn-danger">Cancel</button>
			</div>
		</div>
	</div>
</form>

<span class="container">
	<div class="btn-group">
		<button ng-click="vm.add()" class="btn btn-primary">+ Add</button>
		<button ng-click="vm.delete()" class="btn btn-danger">- Delete</button>
	</div>	
</span>

<div class="panel panel-default">
	<div class="panel-heading">Employee List</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Code</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="e in vm.entityModels" class="{{e.status}}" ng-click="vm.selectModel(e)">
				<td>{{e.code}}</td>
				<td>{{e.name}}</td>
			</tr>
			<tr>
				<td colspan="2">
					<div pagenavigation=""></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>