<h4>Sale</h4>


	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Code</th>
				<th>Time</th>
				<th>PIC</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="e in vm.entityModels" class="{{e.status}}" ng-click="vm.selectModel(e)">
				<td>{{e.code}}</td>
				<td>{{e.timeString()}}</td>
				<td>{{e.cashier.name}}</td>
			</tr>
			<tr>
				<td colspan="3">
					<div pagenavigation=""></div>
				</td>
			</tr>
		</tbody>
	</table>
<hr>

<form ng-submit="vm.save()" class="form-horizontal">
	<div class="form-group">
		<label for="code" class="col-sm-2 control-label">Code</label>
		<div class="col-sm-5">
			<input ng-model="vm.selected.code" placeholder="e.g. E01" class="form-control" id="code" type="text" required>
		</div>
	</div>

	<div class="form-group">
		<label for="time" class="col-sm-2 control-label">Time</label>
		<div class="col-sm-5">
			<p class="input-group">
				<input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="vm.selected.time" is-open="vm.selected.timePopped" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="vm.selected.popDate($event, 'timePopped')"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
	</div>

	<div class="form-group">
		<label for="time" class="col-sm-2 control-label">PIC</label>
		<div class="col-sm-5">
			<ui-select ng-model="vm.selected.cashier" theme="bootstrap" title="Enter person's name..">
	    		<ui-select-match placeholder="Enter person's name...">{{$select.selected.code}} {{$select.selected.name}}</ui-select-match>
	    		<ui-select-choices repeat="e in vm.employeeResult" refresh="vm.searchemployee($select.search)" refresh-delay="0">
	    			<div ng-bind-html="e.code | highlight: $select.search"></div>
	    			<div ng-bind-html="e.name | highlight: $select.search"></div>
	    		</ui-select-choices>
  			</ui-select>	
		</div>
	</div>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th><button ng-click="vm.selected.addLineItem()" class="btn btn-success" type="button">+</button></th>
				<th>Product</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Subtotal</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="sli in vm.selected.lineItems">
				<td>{{$index + 1}}</td>
				<td>
					<button ng-click="vm.selected.addLineItemAt($index)" class="btn btn-success" type="button">+</button>
					<button ng-click="sli.revert()" class="btn btn-warning" type="button">-</button>
					<button ng-click="vm.selected.removeLineItemAt($index)" class="btn btn-danger" type="button">x</button>
				</td>
				<td>
					<ui-select ng-model="sli.product" theme="bootstrap" style="width: 400px;" title="Enter product name..">
			    		<ui-select-match placeholder="Enter product name...">{{$select.selected.code + ' ' + $select.selected.name}}</ui-select-match>
			    		<ui-select-choices repeat="e in vm.productResult" refresh="vm.searchproduct($select.search)" refresh-delay="0">
			    			<div ng-bind-html="e.code | highlight: $select.search"></div>
			    			<div ng-bind-html="e.name | highlight: $select.search"></div>
		    			</ui-select-choices>
	  				</ui-select>	
				</td>
				<td><input ng-model="sli.quantity" min="0" type="number"></td>
				<td>{{sli.unitPrice}}</td>
				<td>{{sli.subtotal}}</td>
			</tr>
			<tr>
				<td colspan="4"></td>
				<td><strong>Total:</strong></td>
				<td><strong>{{vm.selected.total}}</strong></td>
			</tr>
		</tbody>
	</table>
	<hr>
	<div class="row">
		<span>
			<div class="btn-group pull-right">
				<button type="button" ng-click="vm.revertEntityModel()" class="btn btn-warning">- Cancel</button>
				<button type="button" ng-click="vm.add()" class="btn btn-primary">+ Add</button>
				<button type="button" ng-click="vm.delete()" class="btn btn-danger">x Delete</button>
				<button type="submit" class="btn btn-success">Save</button>
			</div>	
		</span>
	</div>
</form>